# Python DataTypes

## Kind of Data

## simple data types - cat

### integer - int used for whole numbers   eg : 1,2,3
### string - str used for alphabets character    eg: "" or 'Python'
### float - float used for decimal point numbers   eg: 1.0, 23.00
### boolean - bool used for checking like ouput as true or false   eg: true - 1 and false - 0

## complex data types or data structure

### list - lst used for collection of items within []  eg: [1,"python","true",12.00]
### tuple - tup used for collection of items within ()  eg: (1,"python","true",12.00) 
### set - set used for collection of items but in unorder within {}   eg:{1,"python","true",12.00}
### dictionary - dict used for collection of items with key and value pairs with {}   eg:{"s_no":1,"language":"python"}

In [4]:
a="Python"
print(a)
print(type(a))

Python
<class 'str'>

In [1]:
print(-2j)

(-0-2j)

In [2]:
print(+2j)

2j

In [3]:
j = 1
print(2-j)  # 2 - 1

1

## Type inferred

In [5]:
name = "Sanjay"
print(name)
print(type(name))

Sanjay
<class 'str'>

In [7]:
age = 30
print(age)
print(type(age))

30
<class 'int'>

In [8]:
bank_balance = 100.00
print(bank_balance)
print(type(bank_balance))

100.0
<class 'float'>

In [10]:
acc_status = True
print(acc_status)
print(type(acc_status))

True
<class 'bool'>

## Dynamically typed or Dynamically typing

In [20]:
bank_balance = 50.00
# bank_balance = 30.00
print(bank_balance)
print(type(bank_balance))
if bank_balance == 50.00:
    print("good")
else:
    print("bad")
bank_balance = 30.00
print(bank_balance)
print(type(bank_balance))
if bank_balance == 50.00:
    print("good")
else:
    print("bad")

30.0
<class 'float'>
bad
30.0
<class 'float'>
bad

In [12]:
bank_balance = 30.00
print(bank_balance)
print(type(bank_balance))

30.0
<class 'float'>

## String Replication

In [28]:
name = "Sharulatha"
print(name)
print(type(name))
print(name*10)
print(5*5)
print("Vignesh"*5)

Sharulatha
<class 'str'>
SharulathaSharulathaSharulathaSharulathaSharulathaSharulathaSharulathaSharulathaSharulathaSharulatha
25
VigneshVigneshVigneshVigneshVignesh

## String Concatenation

In [38]:
fname = "Sharu"
lname = "latha"
print(fname)
print(lname)
print(type(fname))
print(type(lname))
print(fname+lname) 
print(5+5)
print("Vignesh"+"V")
# print("Vignesh"+5)  # error

Sharu
latha
<class 'str'>
<class 'str'>
Sharulatha
10
VigneshV

## String slicing

### Index value default start with 0

In [40]:
      # 0123456789
name = "Sharulatha"  
print(name)

Sharulatha

In [54]:
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[9])
print(name[6])
print(name.index('S'))
# print(name[5])

S
h
a
r
u
a
a
0

## method 2 Reverse indexing
### Index value default start with -1

In [58]:
      # -9-8-7-6-5-4-3-2-1
name = "Sharulatha"  
print(name)
print(name[-9])
print(name[-8])
# print(name.index('u'))

Sharulatha
h
a
4

## method 3 easy method

### end value n-1

In [21]:
      # 0123456789
name = "Sharulatha"  
print(name)
print(name[0::4])  # start : end value n - 1  : step value increment n-1
# print(name[5:10])
# print(name[5:])
# print(name[:5])
# print(name[:])

Sharulatha
Suh

In [33]:
      # -10-9-8-7-6-5-4-3-2-1
name = "Sharulatha" 
print(name)
# print(name[:-1])
# print(name[:-5])
# print(name[-5:])
print(name[-1:-11:-4])      # start value:end value :step value  drecement n+1

Sharulatha
alh

In [48]:
name_4="The greatest of all time"
print(name_4)
print(name_4[-25:])

The greatest of all time
The greatest of all time