# Control Structure

## if is a Conditional statement where loop is Looping statemnet

In [4]:
num = 10
num2 = 8
print(num==10 and num2==5)

False

In [5]:
if num==10 and num2==5:
    print("Correct")
else:
    print("Wrong")

Wrong

## Synatx for if condition
###  if condition :
####  set of statement or code
###   true block

In [16]:
car_wheels=5
car_color = 'blue'
auto_wheels = 6
auto_color = 'yellow'

if car_wheels == 4:
    print("Is a Car")
else:
    print("Is not a car")

Is not a car

In [17]:
if car_wheels == 4:
    print("Is a Car")
elif auto_wheels == 3:    # elif is used to giving multiple if condition
    print("Is a Auto")
else:
    print("Is not a car and Is not a auto")

Is not a car and Is not a auto

## Nested if
### Nested if is known as a if condition having another if condition inside it

In [20]:
car_wheels=4
car_color = 'blue'
auto_wheels = 6
auto_color = 'yellow'

if car_wheels == 4:
    print("Is a Car")
    if car_color == "blue":
        print("Car is blue color")
    else:
        print("Car is not a blue color")
else:
    print("Is not a car")

Is a Car
Car is blue color

In [33]:
ticket_price = 1000
friends = False
party_time = 9

if ticket_price >= 500:
    print("You can have a chance go to a party")
    if friends:
        print("you have a more chance and lets party!")
    elif party_time < 10:
        print("you want to wait and then you can rock a party")
    else:
        print("sleep in a house")
else:
     print("Better luck next time!")

You can have a chance go to a party
you want to wait and then you can rock a party

# Loop

## Looping is a iterative statement that mean set of satement or set of code repeat again and again to perform a specific task

## Types of loops
### for loop and while loop - entry controlled loop
### do-while loop is not in python - exit controlled loop

# for loop

### for loop is used to repeat the code again and again

### syntax: 

### for condition or range(start value,end value n-1,step value inc or decre): start the block
###      set of statemnet or set of code

In [39]:
for i in range(0,10):   # end value n -1 = 10-1 =9
    print("python")
    # print(i)

python
python
python
python
python
python
python
python
python
python

In [35]:
for i in range(0,11,2):   # end value n -1 = 10-1 =9
    print("python")
    # print(i)

python
python
python
python
python
python

In [20]:
for a in range(5,55,5):
    print(a)

5
10
15
20
25
30
35
40
45
50

In [25]:
for c in range(50,4,-5):   # dec
    print(c)

50
45
40
35
30
25
20
15
10
5

In [28]:
for c in range(30,2,-3):
    print(c)

30
27
24
21
18
15
12
9
6
3

In [30]:
veg_fru = ("apple","drumstick","orange","carrot","banana","beetroot")

print(veg_fru)

('apple', 'drumstick', 'orange', 'carrot', 'banana', 'beetroot')

In [31]:
for v in veg_fru:
    print(v)

apple
drumstick
orange
carrot
banana
beetroot

In [50]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [51]:
doctor_fruit = "apple"
print(doctor_fruit)

apple

In [56]:
for a in doctor_fruit:
    print(doctor_fruit,end=" ")

apple apple apple apple apple

In [57]:
fru = "banana"
print(fru)

banana

In [64]:
for b in fru:
    print(b)

b
a
n
a
n
a

In [66]:
for d in fru:
    print(fru)

banana
banana
banana
banana
banana
banana

In [73]:
n = int(input("Enter a number: "))    # 7

for i in range(1,n+1):    # 0, 7
    if i % 2 == 0:           # 1 % 2 = 0   # 1 == 0
        print(i)

Enter a number:  8

2
4
6
8

In [74]:
num = [1,2,3,4,5,6,7,8]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8]

In [77]:
for n in num:
    print(n)

1
2
3
4
5
6
7
8

# Nested loop

In [125]:
for i in range(1,10+1):  
    for j in range(1,i+1):  
        print(i,end=" ")     
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [100]:
for i in range(1,3):
    print(i)

1
2

In [127]:
for i in range(1,10+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [7]:
for i in range(1,10+1):
    for gap in range(10-i):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [138]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [3]:
for i in range(1,10+1):
    for gap in range(10-i):  #10-7 = 3
        print(" ",end="")
    for j in range(i):
        print("*",end=" ")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [87]:
for i in range(1,1+1):
    print(i)

1

In [90]:
for i in range(1,3):
    print(i,end= " ")

1 2

In [115]:
for i in range(0,15+1):
    for j in range(0,i+1):
        print(i,end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12 12
13 13 13 13 13 13 13 13 13 13 13 13 13 13
14 14 14 14 14 14 14 14 14 14 14 14 14 14 14
15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15

# While loop

## While loop is used to reprat the code again and again when the condition meets true

## Syntax

### while(condition):
### set of code or statement
### inc or dec

In [10]:
# while(10<5):
#     print("Python")

In [16]:
a = 1
    # 1<=10  
while(a<=10):      # end value n-1
    print(a)
    a += 1    # a = a+1    1 += 1 = 2   a value 2

1
2
3
4
5
6
7
8
9
10

In [17]:
a = 1

while(a<=10):      # end value n-1
    print("Python")
    a += 1    # a = a+1

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [19]:
b = int(input("Enter a first number: ")) 
n = int(input("Enter a last number: "))

while(b<=n):
    print(b)
    b += 1

Enter a first number:  15
Enter a last number:  20

15
16
17
18
19
20

In [22]:
b = int(input("Enter a first number: ")) 
n = int(input("Enter a last number: "))

while(b<=n):
    print(b)
    b += 2

Enter a first number:  1
Enter a last number:  23

1
3
5
7
9
11
13
15
17
19
21
23

In [21]:
b = int(input("Enter a first number: ")) 
n = int(input("Enter a last number: "))

while(b<=n):
    if b % 2 == 0:
        print(b)
    b += 1

Enter a first number:  2
Enter a last number:  21

2
4
6
8
10
12
14
16
18
20

In [23]:
b = int(input("Enter a first number: ")) 
n = int(input("Enter a last number: "))

while(b<=n):
    if b % 2 != 0:
        print(b)
    b += 1

Enter a first number:  1
Enter a last number:  21

1
3
5
7
9
11
13
15
17
19
21

In [25]:
b = int(input("Enter a first number: ")) 
n = int(input("Enter a last number: "))

while(b<=n):
    if b % 2 == 1:
        print(b)
    b += 1

Enter a first number:  1
Enter a last number:  20

1
3
5
7
9
11
13
15
17
19

In [26]:
b = int(input("Enter a first number: ")) 
n = int(input("Enter a last number: "))

while(b<=n):
    if b % 2 != 1:
        print(b)
    b += 1

Enter a first number:  1
Enter a last number:  20

2
4
6
8
10
12
14
16
18
20

In [30]:
d = 10

while(d>=1):
    print(d)
    d -= 1

10
9
8
7
6
5
4
3
2
1

In [31]:
b = int(input("Enter a first number: "))
d = int(input("Enter a last number: "))

while(b>=d):
    print(b)
    b -= 1

Enter a first number:  20
Enter a last number:  1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [32]:
b = int(input("Enter a first number: "))
d = int(input("Enter a last number: "))

while(b>=d):
    if b % 2 == 0:
        print(b)
    b -= 1

Enter a first number:  25
Enter a last number:  1

24
22
20
18
16
14
12
10
8
6
4
2

In [33]:
b = int(input("Enter a first number: "))
d = int(input("Enter a last number: "))

while(b>=d):
    if b % 2 == 1:
        print(b)
    b -= 1

Enter a first number:  30
Enter a last number:  3

29
27
25
23
21
19
17
15
13
11
9
7
5
3

In [40]:
user_name = input("Enter your username: ")
password = int(input("Enter your password"))
user_password = 12345

while password == user_password:
    print("Access granted")

Enter your username:  niva
Enter your password 2345

In [46]:
user_name= input("Enter your username: ")
password = '12345'
attempt = 3

while attempt > 0:   # 1 > 0
    user_password = input("Enter your correct password")
    if user_password == password:
        print("Access granted")
        break
    else:
        attempt -= 1
        print("wrong password",attempt)
if attempt == 0:
    print("Locked")

Enter your username:  niva
Enter your correct password 3445

wrong password 2

Enter your correct password 12345

Access granted

## pass or empty statement

In [5]:
for i in range(0):
    pass
    
print("hello")

hello

In [4]:
while(0):
    pass

## Jump statement

### break - exit and  continue - skip

In [23]:
for i in range(1,15):
    print(i)
    if i == 10:
        break

1
2
3
4
5
6
7
8
9
10

In [27]:
n = 1

while(n<15):
    if n == 10:
        break
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9

In [36]:
for i in range(1,15):
     if i == 10:
         continue
     print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14

In [3]:
n = 1

while(n<15):
    if n == 10:
        n += 1
        continue
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
11
12
13
14

In [6]:
for i in range(1,15):
     if i == 5:
         continue
     if i == 10:
         break
     print(i)

1
2
3
4
6
7
8
9

In [11]:
n = 1

while(n<15):
    if n == 10:
        n += 1
        continue
    if n == 13:
        break
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
11
12

### else clause

In [15]:
for i in range(1,15):
     if i == 5:
         continue
     # if i == 10:
     #     break
     print(i)
else:
    print("Successfully completed")

1
2
3
4
6
7
8
9
10
11
12
13
14
Successfully completed

In [16]:
for i in range(0,10):
    print(i)

else:
    print("completed")

0
1
2
3
4
5
6
7
8
9
completed

## Nested While loop

In [12]:
n = 1

while n <= 5:  # 3 <=5 
    j = 1        # 2
    while j <= n:       # 1<= 1
        print(n,end=" ")             # 1
        j +=1              # 1+1 2
    print()
    n += 1                 # 1+1 2

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
n = 1

while(n<=3):
    print(n)
    n += 1

1
2
3

In [16]:
n = 1

while n <= 5:  # 3 <=5 
    j = 1        # 2
    while j <= n:       # 1<= 1
        print("*",end=" ")             # 1
        j +=1              # 1+1 2
    print()
    n += 1

*
* *
* * *
* * * *
* * * * *

In [17]:
num = 3

a = 1

while(a <= 10):  # 2
    print(num,"X",a,"=",num*a) # 3 x 2 = 3*2 =6
    a += 1   # 2

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [18]:
a = 1
while(a<=5):
    b = 1
    while(b <= 10):
        print(a,"x",b,"=",a*b)
        b +=1
    print()
    a +=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50