### String

In [2]:
      # 01234567891011    Defalut index value start with 0
word = "Hello Python"
print(word)
print(type(word))

Hello Python
<class 'str'>

### Slicing

In [3]:
print(word)

Hello Python

In [6]:
print(word[0:5])  # start value : end value n-1

Hello

In [7]:
print(word[6:12])

Python

In [9]:
print(word[5])

In [10]:
print(word[0])

H

### Increment

In [19]:
      # 01234567891011    Defalut index value start with 0
word = "Hello Python"
print(word)
print(type(word))

Hello Python
<class 'str'>

In [12]:
print(word[:5])  # start value : end value

Hello

In [16]:
print(word[6:])

Python

In [14]:
print(word[:])

Hello Python

In [22]:
print(word[:11:2])  # start value : end value : step value or + increment or - decrement

HloPto

In [21]:
print(word[0:8:3])

HlP

### Decrement

In [23]:
      # 01234567891011    Defalut index value start with 0
word = "Hello Python"
print(word)
print(type(word))

Hello Python
<class 'str'>

In [24]:
print(word[:5])  # start value : end value

Hello

In [27]:
print(word[4::-1])  # end value : start value : decre

olleH

In [28]:
print(word[6:])

Python

In [39]:
print(word[11:5:-1])   #nohtyp

nohtyP

In [38]:
print(word[5:11])

 Pytho

### Negative indexing

In [ ]:
      # 0   1 2  3 4 5 6 7 8 9 10 11    Defalut index value start with 0  and for negative -1
word = "H   e l  l o   P y t h o n"
       -12-11-10-9-8-7-6-5-4-3-2-1 #
print(word)
print(type(word))

In [40]:
print(word[0:5])

Hello

In [44]:
print(word[-12:-7])   # -12 : -7 -1 = -8

Hello

In [51]:
print(word[-6:])   # -6 : -1 -1 = 0

Python

### String Concatination

In [53]:
fname = "Ram"
lname = "kumar"

print(fname)
print(lname)

Ram
kumar

In [54]:
print(fname+lname)  # Ram + Kumar

Ramkumar

In [55]:
print(lname+10)  # kumar + 10

TypeError: can only concatenate str (not "int") to str

In [56]:
print(10+5)

15

### String replication

In [57]:
print(fname)

Ram

In [63]:
print(fname*7)  # Ram

RamRamRamRamRamRamRam

In [61]:
print(3*5)

15

In [62]:
print(fname*lname)

TypeError: can't multiply sequence by non-int of type 'str'

### Swapping two variables

In [64]:
a = 10
b = 5

print(a,b)  # 5 10

10 5

### Method 1

In [65]:
c = a   # 10 -> c
a = b   # 5 -> a
b = c   # 10 -> b

print(a,b)

5 10

### Method 2

In [71]:
a = 10
b = 5

print(a,b)  # 5 10

10 5

In [67]:
# +,-,*,/

a = a+b # 10+5 = 15 -> a
b = a-b # 15-5 = 10 -> b
a = a-b # 15-10 = 5 -> a

print(a,b)

5 10

In [72]:
a = a * b # 10 * 5 = 50 -> a
b = a / b # 50 / 5 = 10 -> b
a = a /b  # 50 / 10 = 5 -> a

print(a,b)

5 10

### Method 3 (easy method)

In [73]:
a = 10
b = 5

print(a,b)  # 5 10

10 5

In [74]:
a,b = b,a   # 10,5 = 10,5
print(a,b)

5 10

### Average and odd or even

In [82]:
tamil_mark = int(input("Enter your tamil mark: "))
print(tamil_mark)
print(type(tamil_mark))

Enter your tamil mark:  80

80
<class 'int'>

In [85]:
tamil_mark = int(input("Enter your tamil mark: "))
english_mark = int(input("Enter your english mark: "))
maths_mark = int(input("Enter your maths mark: "))
science_mark = int(input("Enter your science mark: "))
social_mark = int(input("Enter your social mark: "))

total = tamil_mark+english_mark+maths_mark+science_mark+social_mark
print(total)

avg = total/5
print(avg)

Enter your tamil mark:  89
Enter your english mark:  90
Enter your maths mark:  78
Enter your science mark:  98
Enter your social mark:  90

445
89.0

### Odd or even

In [100]:
num = 3

if num % 2 == 0:  # 3 % 2 1 == 0
    print("Even number")
else:
    print("Odd number")

Odd number

In [101]:
num = 4

if num % 2 == 0:  # 3 % 2 1 == 1
    print("Odd number")
else:
    print("Even number")

Even number

In [ ]:
# num % 2 == 0 -> even
# num % 2 == 1 -> odd
# num % 2 != 0 -> odd
# num % 2 != 1 -> even

## If and loop -> Control structure

### If is a conditional statement

In [3]:
statement1 = 10
statement2 = 10
print(statement1 == statement2)

True

### Syntax

### if condition :
### set of statement or block of code

In [6]:
if statement1==10 and statement2==20:
    print("Both are correct")
else:
    print("Both are incorrect")

Both are incorrect

In [9]:
user_name = "Ad"
password = "123"

if user_name=="Admin":
    print("User name is correct")
elif password == "12345":
    print("Password is correct")
else:
    print("User name and password are incorrect")

User name and password are incorrect

### Nested if

In [13]:
user_name = "Ad"
password = "12345"

if user_name=="Admin":
    print("User name is correct")
    if password == "12345":
        print("password is correct")
        print("Welcome!")
    else:
        print("password is incorrect")
else:
    print("both user_name and password are incorrect")

both user_name and password are incorrect

In [17]:
b = -6

if b > 0:
    print("The number is positive")
    if b == 5:
        print("number is correct")
    else:
        print("positive number but is not same")
else:
    print("The number is negative")

The number is negative

### looping is a iterative statement that used to repeat the set of code or statement again and again and when its becomes false only it will stop

### for and while loop - Entry checked loop
### do-while - Exit checked loop  # python is not have do while loop

### For loop

### Syntax

### for i in range(start value ,end value n-1,step value or inc or dec) step value is optional 
### set of statement or block of code

In [18]:
for i in range(5): # if in case you give only the end value , the start value default is taken by 0 # n-1 -> 5-1= 4
    print(i)

0
1
2
3
4

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [20]:
for i in range(1,11):
    print("Python")

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [25]:
for i in range(1,11,3):  # + inc or step value 
    print(i)

1
4
7
10

In [69]:
for i in range(11,1,-1):  # - dec or step value 
    print(i)

11
10
9
8
7
6
5
4
3
2

In [33]:
for i in range(11,0,-2):  # - dec or step value 
    print(i)

11
9
7
5
3
1

In [36]:
for i in range(-1,-11,-2):  # negavite value
    print(i)

-1
-3
-5
-7
-9

In [37]:
lst = ["carrot","potato","banana","dragon fruit","pineapple","beetroot"]
print(lst)

['carrot', 'potato', 'banana', 'dragon fruit', 'pineapple', 'beetroot']

In [40]:
for i in lst:
    print(i)

carrot
potato
banana
dragon fruit
pineapple
beetroot

### list,tuple,set,dict,string - itertable object is means we can perform a looping

In [41]:
fruit = "banana"

for i in fruit:
    print(i)

b
a
n
a
n
a

### Nested for loop

In [56]:
n = 5

for i in range(1,n+1): #1,5 # 1, 5 -1 -> 4 -> 4+1 = 5
    for j in range(1,i+1): # 1,2,3,4,5
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [57]:
n = 5

for i in range(1,n+1): #1,5 # 1, 5 -1 -> 4 -> 4+1 = 5
    for j in range(1,i+1): # 1,2,3,4,5
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [70]:
n = 5

for i in range(1,n+1): #1,5 # 1, 5 -1 -> 4 -> 4+1 = 5
    for j in range(1,i+1): # 1,2,3,4,5
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [71]:
n = 5

for i in range(n,0,-1): #1,5 # 1, 5 -1 -> 4 -> 4+1 = 5
    for j in range(1,i+1): # 1,2,3,4,5
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [93]:
n = 5

for i in range(1,n+1): #1,5 # 1, 5 -1 -> 4 -> 4+1 = 5
    for gap in range(n-i):  # 5-5 = 0
        print(" ",end="")
    for j in range(1,i+1): # 1,2,3,4,5
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

## While loop

### syntax

### while condition :
### set of statement or block of code
### inc or dec

In [94]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
i = 0

     # 5<5
while i<5:  # 0<5
    print(i)
    i += 1 # 0+=1   # inc

0
1
2
3
4

In [ ]:
#i = 0

# 0<5 -> T
# 0 -> P
# 0+=1 -> 1

#i = 1

#1<5 -> T
#1 -> P
#1+=1 -> 2

#i=2

#2<5 -> T
#2 -> P
#2+=1 -> 3

#i = 3

#3<5 -> T
#3 -> p
#3+=1 -> 4

#i=4

#4<5 -> T
#4 -> P
#4+=1 -> 5

#i=5

#5<5 -> F

# loop stop and exit

In [7]:
i = 0
sum = 0

     # 5<5
while i<5:  # 0<5
    print(i)
    sum += i  
    i += 1 # 0+=1   # inc
print(sum)

0
1
2
3
4
10

In [10]:
i = 0

while i < 10:
    if i % 2 == 0:
        print(i)
    i+=1

0
2
4
6
8

In [22]:
i = 0
mul=1

while i < 10:
    if i % 2 != 0:
        print(i)
        mul*=i
    i+=1
print(mul)

1
3
5
7
9
945

In [16]:
i = 0
     # 5<5
while i<=10:  # 0<5
    print(i)
    i += 2 # 0+=1   # inc

0
2
4
6
8
10

In [102]:
i = 10
     # 5<5            
while i>=0:  # 0<5
    print(i)
    i -= 1 # 0+=1   # - decr

10
9
8
7
6
5
4
3
2
1
0

In [103]:
num = [1,2,3,4,5,6,7,8]

for i in num:
    print(i)

1
2
3
4
5
6
7
8

In [107]:
     #  0  1  2  3  4  5  6  7
num = [10,20,30,40,50,60,70,80]

i = 0

while i < len(num):   #8 < 8:
    print(num[i])  # num[1] -> 20
    i += 1   # 0+1 = 1

10
20
30
40
50
60
70
80

In [108]:
lst = ["carrot","potato","banana","dragon fruit","pineapple","beetroot"]

i =0 

while i < len(lst):
    print(lst[i])
    i+=1

carrot
potato
banana
dragon fruit
pineapple
beetroot

In [109]:
fruit = "banana"

i = 0

while i < len(fruit):
    print(fruit[i])
    i += 1

b
a
n
a
n
a

### Nested While loop

In [2]:
n = 1

while n <= 5:
    m = 1
    while m <= n:
        print(n,end = " ")
        m += 1
    print()
    n += 1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
n = 1

while n <= 5:
    m = 1
    while m <= n:
        print(m,end = " ")
        m += 1
    print()
    n += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
# n = 1
# n < = 5 -> 1<=5 -> T

# m = 1
# m<= n -> 1 <= 1 -> T
# m -> 1

#m += 1 -> 1+=1 =2 -> m = 2

# m = 2
# m<= n -> 2 <= 1 -> F

# n+=1 1+1 = 2 -> n = 2

1
2

In [ ]:
# n = 2
# n < = 5 -> 2<=5 -> T

# m = 1     # reset to IntiAL VALUE
# m<= n -> 1 <= 2 -> T
# m -> 1 -> P

#m += 1 -> 1+=1 =2 -> m = 2

# m = 2
# m<= n -> 2 <= 2 -> T
# m -> 2 -> P
#m += 1 -> 2+=1 -> 3

#m = 3
#m <=n -> 3<=2 -> F

# n+=1 2+1 = 3 -> n = 3

In [6]:
n = 1

while n <= 5:
    m = 1
    while m <= n:
        print("*",end = " ")
        m += 1
    print()
    n += 1

*
* *
* * *
* * * *
* * * * *

In [32]:
n = 5

while n >=1:
    m = 1
    while m<=n:
        print("*",end=" ")
        m+=1
    print()
    n -= 1

* * * * *
* * * *
* * *
* *
*

In [8]:
n = 1

while n <= 5:
    m = 1
    while m<=5:
        print("*",end = " ")
        m += 1
    print()
    n += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
n = 1

while n <=5: # 1 <=5 -> T
    gap = 5 - n   #5-1 -> 4
    while gap>0:   # 4>0 -> T
        print(" ",end=" ")
        gap-=1      # 4-1 -> 3
    pattern = 2*n-1  # 1
    while pattern>0:
        print("*",end=" ")
        pattern -=1
    print()
    n+=1

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

### Pass statement

In [4]:
for i in range(5):
    pass
print("hello")

hello

In [10]:
if(""):
    pass
print("hi")

hi

In [2]:
while False:
    pass
print("python")

python

### Jump Statement

### Break and continue

In [6]:
for i in range(1,51):
    if i == 26:
        break      # break is means is manually termiate the loop and it exit 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [8]:
for i in range(1,21):
    if i == 15:
        continue       # continue is used to skip the value 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20

In [10]:
i = 0

while i <= 10:
    if i == 6:
        break
    print(i)
    i += 1

0
1
2
3
4
5

In [1]:
i = 0

while i < 10:
    i += 1
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [2]:
for i in range(1,21):
    if i == 10:
        continue
    if i == 16:
        break
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15

In [2]:
i = 0

while i <= 20:
    i += 1
    if i == 10:
        continue
    if i == 16:
        break
    print(i)
    # i += 1

1
2
3
4
5
6
7
8
9
11
12
13
14
15

In [ ]:
### Else

In [4]:
for i in range(1,11):
    print(i)
else:
    print("loop completed")

1
2
3
4
5
6
7
8
9
10
loop completed

In [6]:
for i in range(1,11):
    if i == 6:
        continue
    print(i)
else:
    print("loop completed")

1
2
3
4
5
7
8
9
10
loop completed