### Type casting is means changing the data type to another data type of same values

In [23]:
num = 5            # int can be change a data type as str and float amd bool
print(num) 
print(type(num))

5
<class 'int'>

In [22]:
num = str(5)   # priority
print(num)
print(type(num))

True
<class 'bool'>

In [4]:
num = "5"
print(num)
print(type(num))

5
<class 'str'>

In [12]:
st = str(num)
print(st)
print(type(st))

5
<class 'str'>

In [15]:
string = "apple"         
print(string)
print(type(string))

apple
<class 'str'>

In [21]:
st1 = int(string)    # string value cannot be change as int and float
print(st1)

True

In [30]:
fl = 5.0             #float can be change a data type as str and float amd bool
print(fl)
print(type(fl))

5.0
<class 'float'>

In [26]:
inte = int(fl)
print(inte)
print(type(inte))

5
<class 'int'>

In [28]:
fl_st = str(fl)
print(fl_st)
print(type(fl_st))

5.0
<class 'str'>

In [29]:
b_st = bool(fl)
print(b_st)
print(type(b_st))

True
<class 'bool'>

In [31]:
string1 = ("apple","banana","orange","pineapple")
print(string1)
print(type(string1))

('apple', 'banana', 'orange', 'pineapple')
<class 'tuple'>

In [33]:
string1.insert(1,"grapes")
print(string1)

AttributeError: 'tuple' object has no attribute 'insert'

In [35]:
li = list(string1)
print(li)
print(type(li))

['apple', 'banana', 'orange', 'pineapple']
<class 'list'>

In [36]:
li.insert(1,"grapes")
print(li)

['apple', 'grapes', 'banana', 'orange', 'pineapple']

In [37]:
sets = set(string1)
print(sets)
print(type(sets))

{'orange', 'apple', 'banana', 'pineapple'}
<class 'set'>

In [38]:
dicti = dict(string1)
print(dicti)
print(type(dicti))

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [39]:
tup = tuple(li)
print(tup)
print(type(tup))

('apple', 'grapes', 'banana', 'orange', 'pineapple')
<class 'tuple'>

In [46]:
li1 = [("name","ravi"),("age",23),("location","chennai")]
print(li1)
print(type(li))

[('name', 'ravi'), ('age', 23), ('location', 'chennai')]
<class 'list'>

In [47]:
dict1 = dict(li1)
print(dict1)
print(type(dict1))

{'name': 'ravi', 'age': 23, 'location': 'chennai'}
<class 'dict'>

In [50]:
lst = list(dict1.items())
print(lst)
print(type(lst))

[('name', 'ravi'), ('age', 23), ('location', 'chennai')]
<class 'list'>

In [54]:
tup = (("name","sharulatha"),("age",25),("location","chennai"))
print(tup)
print(type(tup))

(('name', 'sharulatha'), ('age', 25), ('location', 'chennai'))
<class 'tuple'>

In [55]:
dict2 = dict(tup)
print(dict2)
print(type(dict2))

{'name': 'sharulatha', 'age': 25, 'location': 'chennai'}
<class 'dict'>

In [1]:
pr_lang = "python"  # str to list
print(pr_lang)
print(type(pr_lang))

python
<class 'str'>

In [2]:
lst = list(pr_lang)
print(lst)
print(type(lst))     # list to str

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

In [3]:
li = ['p', 'y', 't', 'h', 'o', 'n']
a = str(li)
print(a)
print(type(a))

['p', 'y', 't', 'h', 'o', 'n']
<class 'str'>

In [4]:
li = ['p', 'y', 't', 'h', 'o', 'n']
b = "".join(li)
print(b)
print(type(b))

python
<class 'str'>

In [5]:
fruit = "apple"
print(fruit)
print(type(fruit))

apple
<class 'str'>

In [7]:
li = ['p', 'y', 't', 'h', 'o', 'n']
r = ""
for i in li:
    r+=i
print(r)
print(type(r))

python
<class 'str'>

In [8]:
li_num = [10,20,30,40]
print(li_num)
print(type(li_num))   # list to int

[10, 20, 30, 40]
<class 'list'>

In [9]:
for i in li_num:
    print(i,end="")
print("\n",type(i))  # not use for loop

10203040
 <class 'int'>

In [87]:
n = int("".join(map(str,li_num)))
print(n)
print(type(n))

10203040
<class 'int'>